<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Long Way Round</title>
</head>

<body>
    <nav>
        <h2>Long Way Round - Motorcycle Diaries</h2>
        <a href="/riders">View All Riders</a>
    </nav>
    <main>
        <h1>Welcome Home Rider</h1>
    </main>
</body>

</html>