<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long Way Round</title>
</head>

<body>
    <nav>
        <h2>Long Way Round - Motorcycle Diaries</h2>
        <a href="/">Home</a>
        <a href="/riders">Riders</a>
        <a href="/motorcycles">Motorcycles</a>
    </nav>
    <main>
        <h1>Motorcycles</h1>
        <table>
            <thead>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
            </thead>
            <tbody>
                <% motorcycles.forEach( motorcycle => { %>
                <tr>
                    <td><%= motorcycle.year %></td>
                    <td><%= motorcycle.make %></td>
                    <td><%= motorcycle.model %></td>
                    <td><a href="/motorcycles/<%= motorcycle._id %>" id="details">Details</a></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/motorcycles/new">Add Motorcycle</a>
    </main>
</body>

</html>