<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long Way Round</title>
</head>

<body>
    <nav>
        <h2>Long Way Round - Motorcycle Diaries</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/riders">Riders</a></li>
            <li><a href="/motorcycles">Motorcycles</a></li>
            <li>
                <% if(user) { %>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/auth/google">Login With Google</a>
                <% } %>
            </li>
        </ul>
    </nav>
    <main>
        <div>
            <a href="/trips/new">New Ride</a>
            <p>riders here</p>
        </div>
    </main>
</body>

</html>