<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long Way Round</title>
</head>

<body>
    <nav>
        <h2>Long Way Round - Motorcycle Diary</h2>
        <a href="/">Home</a>
        <a href="/riders">Riders</a>
        <a href="/motorcycles">Motorcycles</a>
    </nav>
    <main>
        <h1>Riders Here</h1>
    </main>
</body>

</html>